body{
  margin: 0;
}

/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: darkgray;
  align-items: center;
}

.nav-menu{
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-menu a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.nav-menu a:hover{
  color: yellow;
  border-bottom: 2px solid yellow;
  transition: .2s;
}

/* Cards */

.cards{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: space-around; 
  gap: 50px;
}

.card-item{
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.card-link{
  display: flex;
  justify-content: center;
}

/* Content */

.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 20px 40px;
  align-items: center;
}

.meus-favoritos, .add-favoritos{
  font-size: 24px;
  font-weight: 900;
}

.favoritos a{
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.favoritos li{
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 15px;
}
.favoritos a:hover{
  color: yellow;
  background-color: black;
  transition: .2s;
}

.favoritos-list{
  display: flex;
  flex-direction: row;
}

label{
  display: block;
  padding: 0 0 10px 0px;
}

.input-form{
  width: 100%;
  margin-bottom: 10px;
}

.button-enviar{
  background-color: greenyellow;
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: .2s;
}

.button-enviar:hover{
  background-color: green;
  color: white;
  cursor: pointer;
}

/* Footer */

.footer{
  background-color: beige;
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.mapa-list{
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: 800;
}

.contatos-list{
  list-style: none;
  line-height: 25px;
}

.mapa-list a, .contatos-list a{
  color: black;
  text-decoration: none;
}

.mapa-list a:hover, .contatos-list a:hover{
  color: blueviolet;
}

/* Breakpoints  */

@media (max-width: 480px) {
  .navbar{
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
  }

  .nav-menu{
    padding: 0;
  }

  .content{
    justify-content: center;
  }

  .favoritos-list{
    display: flex;
    flex-direction: column;
  }
}